<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xybert.springbootmybatis.mapper.UserMapper">

    <insert id="insertUser">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name, sex, age,
            <if test='user != null and user.tel != null and user.tel != ""'>
                tel,
            </if>
            <if test='user != null and user.email != null and user.email != ""'>
                email,
            </if>
            <if test='user != null and user.status != null and user.status &gt;= 0 and user.status &lt;= 1'>
                status,
            </if>
            <if test='user != null and user.role != null and user.role &gt;= 1 and user.role &lt;= 3'>
                role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{user.name}, #{user.sex}, #{user.age},
            <if test='user != null and user.tel != null and user.tel != ""'>
                #{user.tel},
            </if>
            <if test='user != null and user.email != null and user.email != ""'>
                #{user.email},
            </if>
            <if test='user != null and user.status != null and user.status &gt;= 0 and user.status &lt;= 1'>
                #{user.status},
            </if>
            <if test='user != null and user.role != null and user.role &gt;= 1 and user.role &lt;= 3'>
                #{user.role},
            </if>
        </trim>
    </insert>

    <update id="updateUser">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test='user != null and user.name != null and user.name != ""'>
                name = #{user.name},
            </if>
            <if test='user != null and user.sex != null and user.sex &gt;= 0 and user.sex &lt;= 1'>
                sex = #{user.sex},
            </if>
            <if test='user != null and user.age != null and user.age &gt; 0'>
                age = #{user.age},
            </if>
            <if test='user != null and user.tel != null and user.tel != ""'>
                tel = #{user.tel},
            </if>
            <if test='user != null and user.email != null and user.email != ""'>
                email = #{user.email},
            </if>
            <if test='user != null and user.status != null and user.status &gt;= 0 and user.status &lt;= 1'>
                status = #{user.status},
            </if>
            <if test='user != null and user.role != null and user.role &gt;= 1 and user.role &lt;= 3'>
                role = #{user.role},
            </if>
        </trim>
        WHERE id = #{user.id}
    </update>

</mapper>