<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xybert.springbootmybatis.mapper.UserMapper">

    <insert id="insertUser">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            account, password, salt
            <if test='user != null and user.sex != null and user.sex != ""'>
                sex,
            </if>
            <if test='user != null and user.age != null and user.age != ""'>
                age,
            </if>
            <if test='user != null and user.tel != null and user.tel != ""'>
                tel,
            </if>
            <if test='user != null and user.email != null and user.email != ""'>
                email,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{user.account}, #{user.password}, #{user.salt},
            <if test='user != null and user.sex != null and user.sex != ""'>
                #{user.sex},
            </if>
            <if test='user != null and user.age != null and user.age != ""'>
                #{user.age},
            </if>
            <if test='user != null and user.tel != null and user.tel != ""'>
                #{user.tel},
            </if>
            <if test='user != null and user.email != null and user.email != ""'>
                #{user.email},
            </if>
        </trim>
    </insert>

    <update id="updateUser">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test='account != null and user.account != null and user.account != ""'>
                name = #{user.account},
            </if>
            <if test='user != null and user.sex != null and user.sex &gt;= 0 and user.sex &lt;= 1'>
                sex = #{user.sex},
            </if>
            <if test='user != null and user.age != null and user.age &gt; 0'>
                age = #{user.age},
            </if>
            <if test='user != null and user.tel != null and user.tel != ""'>
                tel = #{user.tel},
            </if>
            <if test='user != null and user.email != null and user.email != ""'>
                email = #{user.email},
            </if>
        </trim>
        WHERE id = #{user.id}
    </update>

</mapper>